<app-header
  [currencies]="currencies"
  [selectedCurrencyFrom]="selectedCurrencyFrom"
  [selectedCurrencyTo]="selectedCurrencyTo"
></app-header>
<form [formGroup]="convertForm">
  <div *ngIf="currencies.length !== 0">
    <div class="wrapper">
      <div class="convert convert-from">
        <h4>Convert from</h4>

        <div class="currency-select">
          <label for="currency_convert-from">Currency: </label>

          <div class="convert_field">
            <select
              id="currency_convert-from"
              formControlName="convertFromSelect"
              (change)="onCurrencyChangeFrom($event)"
            >
              <option *ngFor="let currency of currencies">
                {{ currency.txt | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <div class="currency-select">
          <label for="currency_amount">Amount: </label>
          <div class="convert_field">
            <input
              type="text"
              formControlName="convertFromInput"
              id="currency_amount"
              name="currency_amount"
              placeholder="Enter amount"
              (keyup)="onKeyUpFrom($event)"
            />
            <ng-container
              *ngIf="convertForm.controls['convertFromInput'].errors"
              ><p class="error">Please enter numbers only</p></ng-container
            >
          </div>
        </div>
      </div>

      <div class="convert convert-to">
        <h4>Convert to</h4>

        <div class="currency-select">
          <label for="currency_convert-from">Currency: </label>
          <div class="convert_field">
            <select
              id="currency_convert-from"
              formControlName="convertToSelect"
              name="currency_convert-from"
              (change)="onCurrencyChangeTo($event)"
            >
              <option *ngFor="let currency of currencies">
                {{ currency.txt | uppercase }}
              </option>
            </select>
          </div>
        </div>

        <div class="currency-select">
          <label for="currency_convert-to">Amount: </label>
          <div class="convert_field">
            <input
              type="text"
              formControlName="convertToInput"
              id="currency_convert-to"
              name="currency_convert-to"
              placeholder="Enter amount"
              (keyup)="onKeyUpTo($event)"
            />
            <ng-container *ngIf="convertForm.controls['convertToInput'].errors"
              ><p ngClass="error">Please enter numbers only</p></ng-container
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
