.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.rates,
.rate {
  display: flex;
  gap: 24px;
}

.rates {
  margin-top: 24px;
  max-width: 100%;
}

.rate {
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  overflow-y: scroll;
  border-radius: 8px;
  color: #fff;
  width: 328px;
}
.rate-from {
  background-color: #8bc34a;
}
.rate-to {
  background-color: #26c6da;
}

.currency-price {
  font-weight: 700;
}

h2 {
  margin: 0;
}
