.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.rates,
.rate {
  display: flex;
}

.rates,
.zero_rates {
  margin-top: 24px;
}

.rates {
  padding: 8px 24px 0 24px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 80px;
  overflow-y: scroll;
  // width: 200px;
  border-radius: 8px;
  background-color: #8bc34a;
  color: #fff;
}

.rate {
  // margin-top: 24px;
  gap: 8px;
}

.currency-price {
  font-weight: 700;
}

h2 {
  margin: 0;
}
